.d-flex{
  display: flex;
}
.justify-contents-evenly{
  justify-content: space-evenly;
}
.a-underline:hover{
  text-decoration: underline;
}
.a-pointer{
  cursor: pointer;
}
.color1{
  color : white;
}
.color2{
  color: blue;
}
.color3{
  color: black;
}
.color1-h:hover{
  color: white;
}
.bgcolor1{
  background-color: #efefef;
}
.bgcolor2{
  background-color: blue;
}
.p10{
  padding: 10px;
}
.bgcolor2-h:hover{
  background-color: blue;
}
