<fieldset>
  <div class="text-end">
    <table>
      <thead>
        <tr>
          <th *ngIf="editIndex === -1" colspan="2" class="text-start" style="text-decoration: underline;">Adding a new Employee</th>
          <th *ngIf="editIndex !== -1" colspan="2" class="text-start" style="text-decoration: underline;">Updating a Existing Employee</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Employee Name</td>
          <td><input type="text" [(ngModel)]="newEmployeeObject.name" name="name"/></td>
        </tr>
        <tr>
          <td>Employee Salary</td>
          <td><input type="text" [(ngModel)]="newEmployeeObject.salary" name="salary"/></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <button *ngIf="editIndex === -1" (click)="saveEmployee()" [disabled]="!newEmployeeObject.name">Save</button>
            <button *ngIf="editIndex !== -1" (click)="updateEmployee()" [disabled]="!newEmployeeObject.name">Update</button>
            <button (click)="goToEmployeeList()">Cancel</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</fieldset>
